@model FormProductViewModel

@{
    ViewData["Title"] = "Create Product";
}

<form asp-action="Create" enctype="multipart/form-data">

    <div class="container">
        <div class="row">
            <div class="col-1">
                <label asp-for="Name" class="text text-black"></label>
            </div>
            <div class="col-1">
                <input asp-for="Name" type="text" placeholder="Enter Product Name" />
            </div>
            <span asp-validation-for="Name" class="text text-danger"></span>

        </div>
        <div class="row mt-4">
            <div class="col-1">
                <label asp-for="Description" class="text text-black"></label>
            </div>
            <div class="col-3">
                <textarea rows="5" cols="50" asp-for="Description" placeholder="Enter Product Description">
                    </textarea>
            </div>
            <span asp-validation-for="Description" class="text text-danger"></span>
        </div>


        <div class="col-6 mt-4">
            <input asp-for="FormFiles" type="file" id="imageCover" multiple />
        </div>
        <span asp-validation-for="FormFiles" class="text text-danger"></span>

        <div class="col-6 mt-4">
            <img class="img-preview img-thumbnail img-fluid" />
        </div>
        <div class="col-4 mt-4">
            <button type="submit" class="btn btn-success"> Create </button>
        </div>
    </div>
</form>